.parent-container{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-container {
  max-width: 400px;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
  margin: 30px 0;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.user-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  color: #333;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 123, 255, 0.8);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  opacity: 0.9;
}

.continue-with-google {
  margin-top: 20px;
  text-align: center;
}

.continue-with-google .google-login-button {
  display: inline-block;
  background-color: #4285F4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.continue-with-google .google-login-button:hover {
  background-color: #3367D6;
}